<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">留言板</a>
        <% if(username) { %>
            <a class="btn btn-danger" href="/logout">登出</a>
        <% } else{ %>
            <div>
                <a class="btn btn-outline-primary" href="/register">註冊</a>
                <a class="btn btn-primary" href="/login">登入</a>
            </div>
        <% } %>
    </div>
</nav>