<!DOCTYPE html>
<html>
    <head>
        <%- include('template/header') %>
    </head>
    <%- include('template/navbar') %>
    <div class='container'>
        <% if(username){ %>
            <span>Hi <%- username %>, 您已登入 </span>
        <% }else{ %>
            <span>Hi guest, 您尚未登入</span>
        <% } %>
    </div>
</html>